#content {
	width:966px;
	margin:auto;
	text-align:left;
	clear:both;
}

#header {
	float:left;
	width:100%;
	background:url(../images/header.gif);
}

#header #top {
	float:left;
	width:100%;
	height:25px;
	background:url(../images/top.gif);
}

#top #top_left {
	margin-top:2px;
	float:left;
	width:50%;
	height:20px;
	line-height:20px;
}


#top #top_right {
	margin-top:3px;
	float:right;
	text-align:right;
	width:50%;
	height:20px;
	line-height:20px;
}

#header #logo {
	float:left;
	width:220px;
	height:80px;
	margin-left:10px;
}

#header #banner {
	float:left;
	text-align:center;
	width:500px;
	height:70px;
	margin-top:10px;
}

#header #tool {
	float:right;
	width:200px;
	height:70px;
	margin-top:15px;
}

#header #tool li {
	float:left;
	width:70px !important;
	width:80px;
	line-height:20px;
	text-align:center;
	height:20px;
	margin:5px;
	border:1px solid #E4E4E4;
}

#header #right_box {
	width:720px;
	height:80px;
	float:right;
}

#menu {
	float:left;
	width:100%;
	height:30px;
	background:url(../images/menu.png);
}

#container {
	float:left;
	width:100%;
}

#footer {
	float:left;
	width:100%;
	height:60px;
	text-align:center;
	line-height:20px;
	border-top:2px solid #AAA;
	background:url(../images/header.gif);
}


.nav {
	float:left;
	width:100%;
	height:8px;
	overflow:hidden;
	clear:both;
}

#main {
	float:left;
	width:708px;
}

#sidebar {
	float:right;
	width:250px;
}

#search {
	float:left;
	width:100%;
}

#link {
	float:left;
	width:100%;
}

#link {
	width:100%;
}
.comm {
	width:100%;
	float:left;
}
.sidebox {
	float:left;
	overflow:hidden;
	width:250px;
}

.rightbox {
	float:right;
	overflow:hidden;
	width:350px;
	height:212px;
}

.leftbox {
	float:left;
	overflow:hidden;
	width:350px;
	height:212px;
}

.article {
	float:left;
	width:100%;
}

.column_left {
	float:left;
	overflow:hidden;
	width:200px;
}

.column_right {
	float:right;
	overflow:hidden;
	width:500px;
}

.column_top {
	float:left;
	overflow:hidden;
	width:100%;
	background:url(../images/colummsg.gif);
	border-bottom:2px solid #888;
}

.column_top img {
	float:left;
	margin-right:20px;
	margin-left:10px;
	margin-top:5px;
	border:1px solid #888;	
}
.column_top span {
	float:left;
	width:360px;
	margin-top:10px;
	text-indent:2em;
	word-break:break-all;
	overflow:hidden;
}

.dt{
	height:25px;
	line-height:25px;
	background:url(../images/mbox-tbg.png) right top no-repeat;
	overflow:hidden;
	clear:both;
}

.dt strong{
	height:25px;
	line-height:25px;
	padding-left:10px;
	padding-right:4px;
	display:block;
	float:left;
	color:#85A484;
	background:url(../images/mbox-tbg.png) left top no-repeat;
	letter-spacing:1px;
}
.dt div{
	height:25px;
	line-height:25px;
	padding-left:10px;
	padding-right:4px;
	display:block;
	float:left;
	background:url(../images/mbox-tbg.png) left top no-repeat;
	letter-spacing:1px;
}
	

.dt strong a{
	padding-left:20px;
	background:url(../images/tree_folder.gif) left center no-repeat;
}
.dt strong a:hover {
	background:url(../images/tree_folderopen.gif) left center no-repeat;
}
.dt span.more{
	float:right;
	line-height:25px;
	padding-right:8px;
}

.dt span.more a:hover {
	position:relative;                       
	top:1px;                         
	left:1px; 
}
.dd{
	float:none !important;
	float:left;
	margin:0px;
	padding:4px;
	padding-top:2px;
	width:auto !important;
	width:100%;
	border:1px solid #C2C2C2;
	border-top:0px;
	overflow:hidden;
}

.page {
	text-align:right;
	float:right;
	padding-top:6px;
	padding-bottom:6px;
	width:100%;
	margin-top:3px;
	background:#FAFAFA;
}


.article #title {
	float:left;
	width:100%;
	margin-top:3px;
	word-break:break-all;
	text-align:center;
	background:url(../images/colummsg.gif);
}

.article #ccont {
	float:left;
	width:100%;
	line-height:20px;
	word-break:break-all;
}

#reg {
	text-align:left;
	margin:80px;
	width:auto !important;
	width:100%;
}


