#tool li {
	text-align:right;
	height:25px;
}

#menu ul li { 
	float:left; 
	width:80px;
       	display:block; 
	line-height:30px; 
	height:30px;
	text-align:center; 
	overflow:hidden;
}
#menu .menudiv {
	float:left; 
	width:2px;
	height:20px; 
	background:url(../images/menu_t.gif) no-repeat;
	margin-top:4px; 
	overflow:hidden;
}

#menu a:hover {
	position:relative;                       
	top:1px;                         
	left:1px; 
}

#menu a {
	color:#333;
}
.left {
	padding:10px;
	float:left;
	width:90px !important;
	width:110px;
	text-align:center;
}

.left img {
	border:1px solid #888;
}

.column_right ul {
	margin-left:6px;
}
.dd .tit {
	float:left;
	line-height:22px;
	width:100%;
	background:#FAFAFA;
	font-weight:bold;
	border-bottom:1px solid #888;
}
.dd .col1 {
	float:left;
	width:60%

}
.dd .col2 {
	float:left;
	width:18%;
}

.left ul li {
	width:80px;
	height:19px;
	line-height:19px;
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
}

.left ul li a {
	background:url(../images/dot1.gif) left center no-repeat;
}

.left ul li a:hover {
	background:url(../images/dot2.gif) left center no-repeat;
}

.right {
	float:right;
	width:225px;
	overflow:hidden;
	white-space:nowrap;
}

.dot li {
	float:left;
	height:18px;
	line-height:18px;
	width:97%;
	background:url(../images/dot.gif) repeat-x  bottom;
}

.dot li a {
	padding-left:8px;
	background:url(../images/li_icon.gif) left center no-repeat;
}

.dot li a:hover {
	padding-left:8px;
	background:url(../images/li_icon1.gif) left center no-repeat;
}

.column_left .par {
	font-weight:bold;
	height:25px;
	line-height:25px;
	float:left;
	width:100%;
	white-space:nowrap;
}

.column_left .par a {
	background:url(../images/tree_folder.gif) left center no-repeat;
}
.column_left .par a:hover {
	background:url(../images/tree_folderopen.gif) left center no-repeat;
}

.column_left .sub {
	height:18px;
	line-height:18px;
	float:left;
	text-indent:20px;
	width:100%;
	white-space:nowrap;
}

.column_left .sub a {
	background:url(../images/dot1.gif) left center no-repeat;
}

.column_left .sub a:hover {
	background:url(../images/dot2.gif) left center no-repeat;
}
#link li {
	width:100px;
	float:left;
	height:40px;
	line-height:40px;
	overflow:hidden;
	text-align:center;
	margin-top:2px;
}


#link strong span{
	padding-left:23px;
	color:#222;
	background:url(../images/wlink.gif) left center no-repeat;
}
#search strong div {
	padding-left:23px;
	height:23px;
	color:#222;
	background:url(../images/search.gif) left center no-repeat;
}



.article #title h1 {
	margin:0px;
	padding:0px;
	font-size:22px;
}
.fontcolor {
	color:#85A484;
}

.redcolor {
	color:#BD0B0B;
}



.article .dbar {
	float:left;
	width:100%;
	background:url(../images/colummsg.gif);
}

.article .dbar li {
	padding:4px;
}

.article .dbar li span {
	padding-left:20px;
	height:16px;
	line-height:16px;
}


.article .dbar li .prve {
	background:url(../images/aprve.gif) left center no-repeat;
}

.article .dbar li .next {
	background:url(../images/anext.gif) left center no-repeat;
}

.article #summary {
	float:left;
	width:100%;
	color:#85A484;
	line-height:22px;
	padding-top:5px;
	border:1px solid #EAEAEA;
}

#search ul li {
	height:25px;
	width:99%;
	line-height:25px;
}

#search ul .li_bg {
	background:#F8F8F8 url(../images/dot.gif) repeat-x  bottom;
}

#reg .dd {
	padding:20px;
	background:#FAFAFA;
}

#reg ul li {
	height:30px;
	line-height:30px;
}



#reg ul li span {
	text-align:right;
	width:15%;
}

#reg ul li em {
	text:none;
}

.red {
	color:blue;
}
#notice { 
	width: 400px; 
       	border: 1px solid #BBB; 
	text-align:center;
	background: #EEE;
       	padding: 3px;
	position: absolute; 
	left: 50%; 
	top: 50%; 
	margin-left: -200px;
       	margin-top: -200px; 
}
#notice div { 
	background: #FFF; 
	padding: 30px 0 20px; 
	font-size: 1.2em; 
}

#notice .info {
	color:#BD0B0B;
}

#notice a {
	color:#333;
	text-decoration : underline;
}

#notice p { 
	background: #FFF; 
	margin: 0; 
	padding: 0 0 20px;
}

.pleft {
	float:left;
	width:60%;
	padding-top:8px;
	padding-bottom:8px;
}
.pright {
	text-align:right;
	float:left;
	width:40%;
	padding-top:8px;
	padding-bottom:8px;
}
.pright li{
	width:60;
	float:left;
}
.pright .ts{
	width:40;
	float:left;
	color:#111;
}

.subo {
	margin-top:5px;
}

.commtitle {
	float:left;
	width:100%;
	background:#F8F8F8;
}

.commtent {
	width:auto !important;
	width:100%;
	padding:10px;
	border-bottom:1px solid #EEF8EE;
	word-break:break-all;
	overflow:hidden;
}

.commtitle .pleft .titl {
	padding-left:20px;
	background:url(../images/tt1.gif) left center no-repeat;
}
.comm .dt b {
	padding-left:20px;
	background:url(../images/comm.gif) left center no-repeat;
}

.article .dt strong a {
	padding-left:20px;
	background:url(../images/comm1.gif) left center no-repeat;
}

.article .dt strong a:hover {
	background:url(../images/comm.gif) left center no-repeat;
}
.bai {
	color:#FFF;
}
